<div class="card">
    <div
      class="front"
      style="background: url('https://dlcdnrog.asus.com/rog/media/157809658839.webp');  background-size: cover; background-position: center;">
      <p class="large">{{product[3]}}</p>
    </div>
    <div class="back" style="padding-left: 0px; padding-right: 0px; padding-top: 3.4rem">
      <div class="container">
        <div class="title">Order No: {{product[0]}}</div>
        <div class="rating">
          <label>Order Total Cost: {{product[2]}} $</label>
          <i class="fas fa-star star"></i>
        </div>
        <p class="review">Item Price: {{product[4]}} $</p>
        <p class="review">Amount Bought: {{product[5]}} </p>

        <p class="overview">
          Order Date:
          {{product[1]}}
          </p>
      </div>
    </div>
  </div>
  