{% extends 'base.html' %} {%block styles%}
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.16.0/font/bootstrap-icons.css"
  rel="stylesheet"
/>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/styles.css')}}"
/>
{%endblock%} {%block title%}HOME{%endblock%}

 {%block content%}


 <div class="container">
     {% for message in get_flashed_messages() %}
     <div class="alert alert-warning">
         <button type="button" class="close" data-dismiss="alert">&times;</button>
         {{ message }}
     </div>
     {% endfor %}
 </div>
 


<!--Header Section-->
<header class="header">
  <div class="row" style="padding-right: 64px;padding-left: 0px;">
    <nav class="navbar navbar-expand-lg">
      <div class="container-navbar">
        <a class="navbar-brand logo" href="{{url_for('home')}}">
          <i class="fa-solid fa-database fa-xl"></i>
          E-Shop</a
        >
        <div class="container-form">
          <!--Database den aldıgım icin burada hepsinin id lerini gonderecegim
              ornek url_for('route_edilecek_method_in_server.py', data= data)
          -->
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
              name="search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
          <!-- TODO: add query parameter (for sorting)-->
        </div>
        <div class="container-navbar-ul">
          <ul class="navbar-nav ml-2">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('login')}}">Log in</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('cart')}}">Cart</a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('user_page')}}">User Page</a></li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="filterIcon">
                <!-- <i class="fa-solid fa-filter fa-2x" style="color: #dc8add;"></i> -->
                <i class="fa-solid fa-sort fa-flip"></i>
              </a>
            </li>
          </ul>
          <ul class="dropdown" id="filterDropdown">
            <li><a href="{{url_for('home', filtered='DESC')}}">Price: High to Low</a></li>
            <li><a href="{{url_for('home', filtered='ASC')}}">Price: Low to High</a></li>
            <li><a href="{{url_for('home', filtered='name_asc')}}">A-Z</a></li>
            <li><a href="{{url_for('home', filtered='name_desc')}}">Z-A</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="row">
    <div class="d-flex flex-wrap justify-content-center container-catalogue">
      <ul class="nav col-12 col-lg-auto justify-content-center mb-md-0">
        <!--first random products but if the one of the categories products comes accordingly-->

        {%for category in categories: %}
        <li>
          <a
            href="{{url_for('home', category_id = category[0])}}"
            class="nav-link px-2"
            >{{category[1]}}</a
          >
        </li>
        {%endfor%}
      </ul>
    </div>
  </div>
</header>

<section class="section-home">
  <div class="section-home-container" id="section-home">
    {%- for row in products|batch(4) %}  <!--https://jinja.palletsprojects.com/en/3.1.x/templates/#jinja-filters.batch-->
    <!--If you want to fill the list for missing items add this to the batch method '&nbsp;'-->
    <div class="product-row">
      {%- for product in row %}
      {% include 'card.html' %}
      {%endfor%}      
    </div>
    {%endfor%}
  </div>
</section>

{% include 'footer.html' %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const filterIcon = document.getElementById("filterIcon");
    const filterDropdown = document.getElementById("filterDropdown");

    filterIcon.addEventListener("click", function() {
      filterDropdown.style.display = (filterDropdown.style.display === "block") ? "none" : "block";
    });

    // Close dropdown when clicking outside
    document.addEventListener("click", function(event) {
      if (!filterIcon.contains(event.target)) {
        filterDropdown.style.display = "none";
      }
    });
  });
</script>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
  crossorigin="anonymous"
></script>
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

{%endblock%}
